<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= heading__title %>
  </title>
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Roboto+Mono:400,700" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <% if (typeof backgroundImage !== 'undefined') { %>
<header class="<%= heading__class %>" style="background-image: url(<%- backgroundImage %>);">
    <% } else {%>
    <header class="<%= heading__class %>">
      <% }%>
      <span class="heading__category">
        <%= heading__category %></span>
      <h1 class="heading__title">
        <%= heading__title %>
      </h1>
    </header>
